.overlay {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, .6);
  z-index: 1000;
}

.alert {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;

  width: 90%;

  margin: auto;
  z-index: 1100;
}

@media screen and (min-width: 768px) {
  .alert {
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .alert {
    width: 50%;
  }
}
