<div *ngFor="let table of tablesList">
  <ul class="col-sm-6 col-md-6 col-xs-12 list-group">
    <li
      class="list-group-item"
      [class.list-group-item-success]="table.status === 'available'"
      [class.active]="table.status !== 'available'"
    >

      <h4 class="list-group-item-heading text-center">Table {{table.tableId}} ({{table.status}})</h4>
      <span class="badge">{{table.totalOrderPrice}}</span>
      <span class="glyphicon glyphicon-user"></span> {{table.clientName}}
    </li>

    <li class="list-group-item" *ngFor="let visitor of table.visitors">
      <span class="badge">{{visitor.totalOrderPrice}}</span>
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {{visitor.clientName}}
    </li>
  </ul>
</div>
