.follow-list {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-around;

    text-align: center;
    list-style: none;
    padding-left: 0;
}

.follow-list__item {
    display: inline-block; /* for IE9 */
    margin: 5px;
}

.follow-list__link {
    display: inline-block;

    padding: 0;
}

.follow-list__icon {
    font-size: 20px;

    color: #fff;
    background-color: #000;

    display: inline-block;
    padding: 10px 8px;
    border-radius: 50%;
}

.follow-list__icon:hover {
    background-color: #0c7fef;
}

@media screen and (min-width: 380px) {
    .follow-list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .follow-list__item {
        margin: 10px;
    }
}

@media print {
    .social {
        padding-top: 40pt;
        padding-bottom: 15pt;
    }

    .social__title {
        margin-bottom: 5pt;
    }

    .follow-list__item {
        margin: 2pt 5pt;
    }

    .follow-list__link:after {
        content: attr(title);
    }
}
