.section {
    max-width: 1360px;

    margin: 0 auto;

    padding-top: 90px;
    padding-bottom: 40px;
}

@media screen and (min-width: 493px) and (max-width: 767px) and (orientation: landscape) {
    .section {
        padding-top: 40px;
    }
}

@media screen and (min-width: 768px) {
    .section {
        padding-top: 70px;
    }
}

@media screen and (min-width: 1024px) {
    .section {
        padding-bottom: 70px;
    }
}

.section__title {
    font-size: 220%;
    font-weight: normal;

    text-align: center;
    text-transform: capitalize;

    margin: 0;
    padding: 10px;
}

.section__title_strong {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    text-transform: lowercase;
}

@media screen and (min-width: 768px) {
    .section__title {
        font-size: 350%;
    }
}

.section__text {
    text-align: center;
    margin: 0;
}

@media print {
    .section:not(.about-product) {
        page-break-before: auto;
    }

    .section {
        width: 96%;

        page-break-inside: avoid;
        padding-top: 20pt;
        padding-bottom: 5pt;
    }

    .section__title {
        margin-bottom: 10pt;
    }
}
