.logo__title {
    display: inline-block;
    margin: 0;
    vertical-align: bottom;

    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
}

.logo__img {
    max-width: 100%;
    display: inline-block;

    border: 0 solid transparent;    /*for IE9 - not to show border in logo*/
}