.scroll-up {
    font-size: 30px;
    text-align: center;
    text-decoration: none;

    position: fixed;
    right: 20px;
    bottom: 90px;

    padding: 10px 17px 5px;

    color: #fff;
    background-color: #3998f5;
    border-radius: 50%;
    opacity: .6;

    -webkit-transition: opacity .35s ease;
    transition: opacity .35s ease;
}

.scroll-up:hover {
    color: #fff;
    opacity: .9;
}

@media print {
    .scroll-up {
        visibility: hidden;
    }
}
