.dfn-list {
    font-family: 'Montserrat', sans-serif;

    display: inline-block;
}

.features__icon {
    font-size: 25px;
}

.dfn-list__item-title {
    position: relative;
    left: -35px;

    margin: 10px auto 5px;

    font-size: 15px;
    font-weight: bold;
}

.dfn-list__item-details {
    font-size: 14px;

    margin: 0;
}

@media print {
    .dfn-list__item-title,
    .dfn-list__item-details {
        display: block;
        text-align: center;
    }

    .dfn-list__item-title {
        position: static;
        margin-top: 10pt;
    }

    .dfn-list__item-details {
        font-size: 10pt;
    }
}
